<% provide(:title, 'New Service') %>
<% provide(:data_role, 'dialog') %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Person:</strong>
  <%= @service.person_id %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type %>
</p>

<p>
  <strong>Service notes:</strong>
  <%= @service.service_notes %>
</p>
