<% provide(:title, 'About TalkInvite') %>
<p>
  This site was suggested to me by a fellow participant at Philly Startup Weekend 2012; he was looking for an app that would let him start a conversation where ever he was.
</p>
<p>
  I spent half an hour explaining to him how impractical this was. The next morning I woke up with the realization that the whole "not practical" thing was a matter of perspective. And as I
  had been looking to build an app which would give me a better sense of the mobile/social space, why not this one?
</p>
</div>
<p> Also, demo page for Ruby-on-Rails & PostgreSQL.  Make sure I understand these.  Both very powerful technologies.</p>
<p>Perhaps of some use in its own right.</p>
