<% provide(:title, 'About TalkInvite') %>
<h1><%= yield(:title) %></h1>
<p> How started! </p>
<p> Demo page for Ruby-on-Rails & PostgreSQL</p>
<p> Make sure I understand these.  Both very powerful technologies.</p>
<p> See contact page</p>
