<% provide(:title, 'Contact Us') %>
<% provide(:data_role, 'page') %>
<!-- TBD: switch to mailto in url options? -->
<!-- TBD: contact form is demo'd Mastering p20-21? -->
<p><a data-role="button" data-inline="true" href="mailto:john.ashmead@mapsndata.com">John Ashmead</a></p>
