<!--
  for non-admin:
    credits gets index + show + search
  for admin, add a form for edit/delete
    list takes you to edit, and bottom (or top) of list has an add button
  for content, start with the items in the bibliography, include friends (esp. ferne)
  -- planning to promote to a full table at some point
-->
<% provide(:title, 'Credits') %>
<h1><%= yield :title %></h1>
<ul>
<li>Ruby on Rails tutorial</li>
<li>Ruby</li>
<li>PostgreSQL</li>
<li>Rails</li>
<li>RF -- who or what is RF?</li>
<li>Ferne</li>
</ul>
