<!-- switch to a help system based on the list of faqs, with particular emphasis on 'how to' faqs -->
<% provide(:title, 'Help') %>
<h1><%= yield :title %></h1>
<% if @helps && @helps.size > 0 %>
  <ul>
    <% @helps.each do |help| %>
      <li><%= link_to help.question, faq_path(help.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We seem to be peculiarly help-less today!</p>
<% end %>
