<!-- development page, not meant for production, 
  -- have routes hang off here to make it easy to check them,
  -- no real specs for this: is itself a test page of sorts 
-->
<% provide(:title, 'All Options for TalkInvite') %>
<h1><%= yield :title %></h1>
<ul>
<%
  static_links = {
    'About' => about_path,
    'Contact' => contact_path,
    'Credits' => credits_path,
    'Help' => help_path,
    'Menu' => menu_path,
    'Privacy Policy' => privacy_path
  }
  if current_person 
    ## how to add a 'close my account' path, when there is no view associated with that?
    static_links.merge!( {
      'Home' => home_path,
      'Profile' => edit_person_path(current_person),
      'Add Talk' => new_talk_path
    })
    if current_person.admin 
      static_links.merge!({
        'List People' => people_path,
        'Add Person' => new_person_path,
        'List Talks' => talks_path
      })
    end
  else
    static_links.merge!({
      'Sign Up' => signup_path,
      'Sign In' => signin_path
    })
  end
%>
<% static_links.each do |name, path| %>
<li><%= link_to name, path %></li>
<% end %>
</ul>
