<!-- development page, not meant for production, 
  have all routes hang off here to make it easy to check them -->
<% provide(:title, 'All Options for TalkInvite') %>
<h1><%= yield :title %></h1>
<ul>
<li>1st option</li>
</ul>
