<!-- required by current standards,
  but also an upgrade opportunity, 
  so link to that -->
<% provide(:title, 'Privacy') %>
<h1><%= yield :title %></h1>
<p>
Least necessary. Cost of some stats
</p>
<p>
See DuckDuckGo
</p>
<p>
More privacy, i.e. organizational talk, with upgrade
</p>
