<% provide(:title, 'Privacy') %>
<% provide(:data_role, 'page') %>
<% # TBD:  rethink & reword:  is critical to website, see snapchat & the like %>
<p>
For an exemplary privacy policy see <a href="https://duckduckgo.com/privacy">DuckDuckGo's privacy policy</a>.
</p>
<p>
For a perhaps more typical privacy policy, see Dan Tynan's 
<a href="http://www.itworld.com/print/129778">The first truly honest privacy policy</a>.
</p>
<p>
We have <a href="http://en.wikipedia.org/wiki/Radical_center_%28politics%29">radical center</a> in our blood; 
we take the course neither
<a href="http://en.wikipedia.org/wiki/Icarus">"too close to the sun, nor too close to the sea"</a>.
</p>
<p>
To be sure -- and meaning no offense, absolutely no offense -- we want to know as little about you as possible.
It's a big planet and the number of people one person can hold in his head at one time maxes out at something in the low four figures.  
If that.
Less after a brewski or two.
More at that high point of the morning after the first cups of coffee have kicked in 
but before the lad in the corner office has come by with this morning's top three top priorities.
OK, enough of that.
</p>
<p>
Still we have to track some stuff just to get the job done: what talks you are part of, who else is part of them,
the messages you sent/received (at least long enough to get them received) and so on.
So that is what we do.
</p>
<p>
And we have to hold onto this stuff for a bit: to suggest talks like talks you've liked before, we have to keep something about said talks you liked before. 
Logical necessity and all that.
</p>
<p>
Further, we do assume that all talks are open to everyone.  
That's in keeping with the <a href="/about">original motivation for this site.</a>
</p>
<p>
But, we're planning to offer still higher levels of privacy (i.e. basically just the people or organization you say)
come a future release.  
That will probably cost money.  
Yes, that kind of an upgrade.
</p>
