<!-- entry point for testing root/partials system -->
<% provide(:title, 'Site Map') %>
<% # logger.debug("sitemap: @routes: #{@routes.inspect}") %>
<% if @routes && @routes.size > 0 %>
	<ul data-role="listview">
	    <% @routes.each do |route| %>
        <%
          path = route[0]
          label = route[1]
          route_controller = route[2]
          data_theme = swatch(route_controller)
        %>
        <li <%=data_theme%> >
        <%= link_to label, path %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>Apparently we have no pages at our site! Something has surely gone wrong.</p>
<% end %>
