<h1>StaticPages#splash</h1>
<p>
Show picture of waves?

Anything interesting to you today?  Do you want to talk about it?

Nearby talks

Recent talks

<p>Find me in app/views/static_pages/splash.html.erb</p>
