<% content_for(:title, 'Ads & Marketing Spots!') %>
<% if @ads && @ads.size > 0 %>
	<ul "data-role"="listview">
	    <% @ads.each do |ad| %>
        <li>
	      <% if admin? %>
	          <%= link_to ad.name, edit_ad_path(ad) %>
	      <% else %>
	          <%= link_to ad.name, ad %>
	      <% end %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We're selling nothing today!</p>
<% end %>
<% if admin? %>
<hr>
<%= new_button 'New Ad', new_ad_path %>
<% end %>
