<% provide(:title, 'Messages') %>
<% # TBD:  messages always restricted to your sent & received %>
<% if @messages %>
	<ul 'data-role'="listview">
	    <% @messages.each do |message| %>
        <li>
        <%= link_to message.message_text, edit_message_path(message) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We are talking to  no one today!</p>
<% end %>
<hr>
<%= button_inline 'New Message', new_message_path %>
