<!-- switch to a credit system based on the list of faqs, with particular emphasis on 'how to' faqs -->
<% provide(:title, 'Credits') %>
<% if @credits && @credits.size > 0 %>
  <ul>
    <% @credits.each do |credit| %>
      <li><%= link_to credit.question, faq_path(credit.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>We seem to be peculiarly credit-less today!</p>
<% end %>
