<% provide(:title, 'Credit') %>
<% provide(:data_role, 'dialog') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>How do I?</strong>
  <%= @credit.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @credit.answer %>
</p>

<%= link_to 'Back', '/credit' %>
