<!-- entry point for testing root/partials system -->
<!-- may want to add in a search field and/or a pagination system -->
<% provide(:title, 'Frequently Asked Questions') %>
<% if @faqs && @faqs.size > 0 %>
	<ul data-role="listview">
	    <% @faqs.each do |faq| %>
        <li>
        <%= link_to faq.question, admin? ? edit_faq_path(faq) : faq_path(faq) %>
        </li>
	    <% end %>
	</ul>
<% else %>
  <p>Curious paucity of questions!  Something must be wrong</p>
<% end %>

<% if admin? %>
  <hr>
  <%= button_inline 'New Question', new_faq_path %>
<% end %>
