<!-- entry point for testing root/partials system -->
<% content_for(:title, 'Frequently Asked Questions') %>
<% if @faqs && @faqs.size > 0 %>
	<ul "data-role"="listview">
	    <% @faqs.each do |faq| %>
        <li>
        <%= link_to faq.question, edit_faq_path(faq) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>All of our questions have answers!</p>
<% end %>

<br>

<% if admin? %>
<%= button_inline 'New Question', new_faq_path %>
<% end %>
