<!-- show form is meant for regular users, to give detail -- not an edit form at all! -->

<% provide(:title, 'FAQ') %>
<% provide(:data_role, 'dialog') %>

<h2>
  <%= @faq.question %>
</h2>
<p>
  <%= @faq.answer %>
</p>
