<% content_for(:title, 'Comments') %>
<% if @comments && @comments.size > 0 %>
	<ul "data-role"="listview">
	    <% @comments.each do |comment| %>
        <li>
          <%= link_to comment.comment_text, edit_comment_path(comment) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>No comment!</p>
<% end %>
<hr>
<%= button_inline 'New comment', new_comment_path %>


