<% provide(:title, "Home") %>
<% logger.debug("views/people/home: @person: #{@person.inspect}, @talks: #{@talks.inspect}") %>
<% 
  # content:  talk box, messages, perhaps my activity
  # footer: new talk, search talks, search messages
%>
<% if @talks %>
  <ul data-role="listview" data-inset="true">
  <% @talks.each do |talk| %>
    <% # TBD: replace 'li' with better formatting, links to talk control, link to person, call of calendar on click of when, & when_desc formatted in days! %>
    <li <%=data_theme('talks')%>><%= link_to talk.summary + '/' + talk.person.name + '/' + talk.when_desc, control_talk_path(talk) %></li> 
  <% end %>
  </ul>
<% end %>

<% if person_signed_in? %>
  <%= link_to 'Create Talk', new_talk_path, 
    'data-role' => 'button', 'data-inline' => true, 
    'data-theme' => swatch('talks') %>
<% end %>
