<% provide(:title, "Home") %>
<% # TBD:  save @talks to local storage, then recover from it %>
<% if @talks %>
  <% if @talks.size > TalksController::MAX_TALKS_PER_AGE %>
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Narrow the search…" data-mini="true">
  <% else %>
    <ul data-role="listview" data-mini="true">
  <% end %>
  <% @talks.each do |talk| %>
    <% 
      # TBD: include date & distance when those are ready, click on date->calendar, click on distance->map
      #   -- can we get three links in there?
      #   -- use split button or asides to add in additional linkso
      # TBD: add pagnination
    %>
    <li data-mini="true" <%=data_theme('talks')%>><%= link_to talk.summary,  control_talk_path(talk) %></li> 
  <% end %>
  </ul>
<% end %>
