<%# heading is the name, email does not belong on this page! So for right now, just the description %>
<% provide(:title, 'Profile') %>
<% # content:  description, photo, message this person, invite to current talk %>
<p>
  <%= @person.description %>
</p>
