<% content_for(:title, 'Materialized Maps') %>
<% if @maps && @maps.size > 0 %>
	<ul "data-role"="listview">
	    <% @maps.each do |map| %>
        <li>
          <%= link_to map.name, edit_map_path(map) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We've got nothing mapped! Bad bad cartographers!</p>
<% end %>
<hr>
<%= link_to 'New map', new_map_path %>


