<% content_for(:title, 'Notifications') %>
<% if @notifications && @notifications.size > 0 %>
	<ul data-role="listview">
	    <% @notifications.each do |notification| %>
        <li>
        <%= link_to notification.note_text, edit_notification_path(notification) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We are notifying nobody of anything today!</p>
<% end %>
<hr>
<%= button_inline 'New Notification', new_notification_path %>
