<% 
  # hand-built talk submit button
  # TBD:  replace create with 'post', 'save as draft'
  # TBD:  replace update with 'post', 'undo changes', 'cancel talk'
  # note: default name of button is commit, value of button will be returned with this
  #   -- to pass thru, we can either switch on the value, or set the name of the button to something appropriate, i.e. 'post'
  #   -- in the latter case, we will need to include that name in the whitelist used by strong parameters
  talk = talk_submit.object
  if talk.new_record?
%>
  <%= talk_submit.submit 'Start Talk' %>
<% else %>
  <div data-role="controlgroup">
  <%= talk_submit.submit 'Update Talk' %>
  <%= render partial: 'talk_delete', object: talk_submit %> 
  </div>
<% end %>
