<% if @talks %>
  <% # TBD:  integrate jquery_mobile_paginate_link_renderer.rb, then bracket the loop with 'will_paginate' %>
  <ul data-role="listview">
      <% @talks.each do |talk| %>
        <li>
        <% logger.debug("views/talks/index: talk: #{talk.inspect}") %>
        <% 
          # TBD: setup @talks to include person names, avoid per row sql
          # TBD: set up grid in jquery mobile to keep person names lined up
          # TBD: include a time in days, using DateHelper & distance_of_time_in_words_to_now, once start_dt is set
        %>
        <%= 
          link_to talk.summary + ' (' + talk.person.name + ')', edit_person_talk_path(talk.person_id, talk.id) 
        %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>No talks found.</p>
<% end %>
