<% if @talks %>
<% 
  # TBD:  add pagination
  #   -- 1) integrate jquery_mobile_paginate_link_renderer.rb, then bracket the loop with 'will_paginate'
  #   -- 2) homebrew
  # TBD: use different color for talks you are admin of, are member of, are just listing
  # TBD: break out the fields using jqm listview
  # TBD: create some helpers to build up the line items, then push into a partial
%>
  <ul data-role="listview" data-inset="true" >
      <% @talks.each do |talk| %>
        <li>
        <%= 
          link_to talk.summary + ' / ' + talk.person.name + ' / ' + talk.when_desc.to_s, control_talk_path(talk.id) 
        %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>No matching talks found</p>
<% end %>
