<li>
  <!-- note there is a lot of duplication between _talk & _feed_talk -->
  <span class="summary"><%= wrap(talk.summary) %></span>
  <span class="timestamp">
    Started <%= time_ago_in_words(talk.created_at) %> ago.
  </span>
  <% if current_person?(talk.person) %>
    <%= link_to "Delete", talk, method: :delete, data: { confirm: "Are you sure you wish to delete '#{talk.summary}'?" }, title: talk.summary %>
  <% end %>
</li>
