<%= form_tag(found_talks_path, method: "get") do %>
<% # TBD:  add in advanced search either as a dialog or as an accordian %>
<% #  -- advanced search:  my talks, open/all, by summary, by tags, by date range, by location %>
  <div class="fieldcontain field ui-hide-label">
    <%= label_tag(:search_q, "Search") %>
    <%= search_field(:search, :q) %>
  </div>
  <% # TBD:  get search_field, search button, & create button all on one line %>
  <%= submit_tag("Search", { 'name' => 'button', 'data-inline' => true } ) %>
<% end %>
