<%
  talk_status_class = 'talk_' + @talk.talk_status
  talk_status_full = @talk.talk_status.titleize
  partners = @talk.partners_other_than_originator
  if partners.size > 0 
    talk_status_full += ': ' + pluralize(partners.size, 'partner')
  end
  logger.debug("app/views/talks/_form: talk_status_class: #{talk_status_class.inspect}, partners: #{partners.inspect}")
%>
<div class="<%=talk_status_class.html_safe%>" >
  <%=talk_status_full.html_safe%>
</div>
