<!-- cloned from people/found.html.erb -->
<!-- without the 'as:', the talk variablae does not show up inside 'talk_found' -->

<% provide(:title, 'Talks') %>

<%= will_paginate %>
<ul class="talks">
<% @talks.each do |talk| %>
  <li>
    <% # logger.debug("_found: @person: #{@person}, talk: #{talk}") %>
    <%= link_to talk.summary, person_talk_path(@person, talk) %>
  </li>
  end
<% end %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'Create Talk', new_person_talk_path(@person) %>
