<% provide(:title, 'List of Talks') %>
<% logger.debug("index: @talks: #{@talks.inspect}") %>
<% if @talks && @talks.size > 0 %>
  <ul data-role="listview">
      <% @talks.each do |talk| %>
        <li>
        <%= link_to talk.summary %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>The world awaits your proposals for conversation!</p>
<% end %>
<%= link_to 'New Talk', new_person_talk_path %>
