<% provide(:title, 'List of talks') %>
<% provide(:heading, 'List of talks') %>
<h1><%= yield :heading %></h1>

<% if @talks && @talks.size > 0 %>
<%= render partial: 'talk_table' %>
<% else %>
No talks found.  Would you like to start one?
<% end %>

<br>

<%= render 'start_talk_button' %>
