<% provide(:title, 'List of Talks') %>
<% # logger.debug("views/talks/index: @talks: #{@talks.inspect}") %>
<% if @talks %>
  <ul data-role="listview">
      <% @talks.each do |talk| %>
        <li>
        <% # logger.debug("views/talks/index: talk: #{talk.inspect}") %>
        <%= link_to talk.summary %>
        </li>
      <% end %>
  </ul>
<% else %>
  <p>The world awaits your proposals for conversation!</p>
<% end %>
<%= link_to 'New Talk', new_person_talk_path %>
