<!--
do the start page

app/views/talks/start

no config/routes.rb -- using index

app/controllers/talks#index

app/models/talk#search

flow:
  start's partial routes back to itself on error, but to index on sucess
  each index has a show

spec/views/talks_controller_spec.rb
  -- verify start title
  -- verify partial present
  -- single good:
    put in record
    put in tag/name
    click
    get one record back, the tagged on
    same trill tag/description
  -- single, no find
    -- put in record
    -- put in different tag
    -- verify search failed
  -- single, no tag
    -- verify same page
    -- verify error message
  -- single, multiple tags
    -- one recrod with one
    -- one record with another
    -- one record with both
    -- one recrfd with neither
    -- verify three

en passant:
  fix up titling for the various pages
  setup for searches to come

that is pretty much it!
-->
<h1>Editing talk</h1>

<%= render 'form' %>

<%= link_to 'Show', @talk %> |
<%= link_to 'Back', talks_path %>
