<% provide(:title, 'Images, PDFs, URLs, & other Attachments') %>
<% if @attachments && @attachments.size > 0 %>
	<ul "data-role"="listview">
	    <% @attachments.each do |attachment| %>
        <li>
          <%= link_to attachment.name, edit_attachment_path(attachment) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We've got nothing attached!</p>
<% end %>
<hr>
<%= button_inline 'New attachment', new_attachment_path %>
