<% provide(:title, 'Venues') %>
<% if @venues && @venues.size > 0 %>
	<ul data-role="listview">
	    <% @venues.each do |venue| %>
        <li>
        <%= link_to venue.name, edit_venue_path(venue) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We are going nowhere today!</p>
<% end %>
<hr>
<%= button_inline 'New Venue', new_venue_path %>


