<% content_for(:title, 'Materialized Calendars') %>
<% if @calendars && @calendars.size > 0 %>
	<ul "data-role"="listview">
	    <% @calendars.each do |calendar| %>
        <li>
          <%= link_to calendar.name, edit_calendar_path(calendar) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We've got nothing calendared!</p>
<% end %>
<hr>
<%= button_inline 'New calendar', new_calendar_path %>

