<% content_for(:title, 'Credits') %>
<% if @credits && @credits.size > 0 %>
	<ul "data-role"="listview">
	    <% @credits.each do |credit| %>
        <li>
	      <% if admin? %>
	          <%= link_to credit.name, edit_credit_path(credit), 'data-rel' => 'dialog' %>
	      <% else %>
	          <%= link_to credit.name, credit %>
	      <% end %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We're thanking no one today!</p>
<% end %>

<br>

<% if admin? %>
<%= button_inline 'New Credit', new_credit_path %>
<% end %>
