<!-- entry point for testing root/partials system -->
<% content_for(:title, 'Thanks!') %>
<% logger.debug("credits/index: @credits = #{@credits.inspect}") %>
<% if @credits && @credits.size > 0 %>
	<ul data-role="listview">
	    <% @credits.each do |credit| %>
        <li>
	      <% if admin? %>
	          <%= link_to credit.name, edit_credit_path(credit) %>
	      <% else %>
	          <%= link_to credit.name, credit %>
	      <% end %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We're thanking no one today!</p>
<% end %>

<br>

<% if admin? %>
<%= link_to 'New Credit', new_credit_path %>
<% end %>
