<!-- entry point for testing root/partials system -->
<% content_for(:title, 'Thanks!') %>

<ol>
    <% @credits.each do |credit| %>
      <% if admin? %>
        <li>
          <%= link_to credit.name, edit_credit_path(credit) %>
          <%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% else %>
          <%= link_to credit.name, show_credit_path(credit) %>
      <% end %>
    <% end %>
</ol>

<br>

<% if admin? %>
<%= link_to 'New Credit', new_credit_path %>
<% end %>
