<!-- may want to add in a search field and/or a pagination system -->
<% provide(:title, 'Credits') %>
<% if @credits %>
	<ul data-role="listview">
	    <% @credits.each do |credit| %>
        <li>
        <%= link_to credit.name, admin? ? edit_credit_path(credit) : credit_path(credit) %>
        </li>
	    <% end %>
	</ul>
<% else %>
  <p>Curious paucity of credits!  Are we so ungrateful?</p>
<% end %>

<% if admin? %>
  <hr>
  <%= button_inline 'New Credit', new_credit_path %>
<% end %>
