<% content_for(:title, 'Credit') %>
<% content_for(:data_role, 'dialog') %>

<p>
  <strong>Name:</strong>
  <%= @credit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @credit.description %>
</p>
