<% content_for(:title, 'Tags') %>
<% if @tags && @tags.size > 0 %>
	<ul data-role="listview">
	    <% @tags.each do |tag| %>
        <li>
        <%= link_to tag.tag_type, edit_tag_path(tag) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We do not feel like playing tag today!</p>
<% end %>
<hr>
<%= new_button 'New Tag', new_tag_path %>


