<% provide(:title, 'Post') %>

<!-- TBD:  wrap @post.post_message in simple_format -->
<p>
  <%= @post.post_message %>
</p>

<p>
  <%= @post.talk.summary %>
</p>

<p>
  <%= @post.person.name %>
</p>

<p>
  <%= @post.post_type %>
</p>
