/*
  common variables for use by talkinvite scss files
  @import common.css.scss; to use
  leading '_' to make clear it is a 'partial' in sass terms

  TBD: how to mark talks?
    have tried marking talks with background-color light blue, 
    but it is a) not very light & b) distracting
    -- maybe a much lighter blue?
    -- borders?
    -- keep experimenting

  TBD: headings are too far to the right for current sizing
    -- either shift to the left, or set the page width smaller

*/

// have turned off bootstrap as apparently it & jQueryMobile do not believe in peaceful co-existence
// @import "bootstrap";  // needed to include '$grayLighter' & anything else bootstappy I expect
// bootstrap defines, from: http://bootstrap.lesscss.ru/less.html

$black: #000;
$black:  #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight:  #999;
$grayLighter:  #eee;
$white:  #fff;
$blue: #049cdb;
$green:  #46a546;
$red:  #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;
$warningText:  #c09853;
$warningBackground:  #f3edd2;
$errorText:  #b94a48;
$errorBackground:  #f2dede;
$successText:  #468847;
$successBackground:  #dff0d8;
$infoText: #3a87ad;
$infoBackground: #d9edf7;
$linkColor:  #08c;
$gridColumns:  12;
$gridColumnWidth:  60px;
$gridGutterWidth:  20px;
$fluidGridColumnWidth: 6.382978723%;
$fluidGridGutterWidth: 2.127659574%;
$baseFontSize: 13px;
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight: 18px;
$primaryButtonBackground:  $linkColor;
$placeholderText:  $grayLight;
$navbarHeight: 40px;
$navbarBackground: $grayDarker;
$navbarBackgroundHighlight:  $grayDark;
$navbarText: $grayLight;
$navbarLinkColor:  $grayLight;
$navbarLinkColorHover: $white;
$linkColorHover: darken($linkColor, 15%);

$dustyTrail: #fef1e1; // http://www.somacon.com/p142.php

$grayMediumLight: #eaeaea;

// fonts & colors used for status messages, get extended a lot
.status {
  font-style: italic;
  font-size: small;
  text-align: right;
  color: firebrick; // generally overridden
}
