// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* People index */

@import "common";

.people {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

// handles color for administrator marker in devise/registrations/edit
.administrator {
  color: firebrick;
  font-style: italic;
  font-size: small;
  text-align: right;
}
