<% content_for(:title, 'Socials') %>
<% if @socials && @socials.size > 0 %>
	<ul data-role="listview">
	    <% @socials.each do |social| %>
        <li>
        <%= link_to social.social_text, edit_social_path(social) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>We are not very social today!</p>
<% end %>
<hr>
<%= new_button 'New Social', new_social_path %>
