<!-- new footer for talkinvite:  get into basic navigation elements:  four specific to page, then help -->
<!-- have the names, icons, & paths passed to the footer in a an object -->
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <%= debug(params) if Rails.env.development? %>
  <!-- the debug(assigns) is showing up with 'code' tag, where debug(params) is using 'pre'.  Why? -->
  <!-- <%= debug(assigns) if Rails.env.development? %> -->
</footer>
