<!-- do not use 'footer' element here, it confused jQuery Mobile -->
<% if ! controller.footer_fields.empty? %>
<!-- TBD:  see if we like ui-bar -->
<!-- TBD:  use different id's for different footers, then set ui-state-persist="true" p74 of Mastering  -->
<!-- data-theme has to be applied to the footer, not the navbar, to take effect -->
<div data-role="footer" data-position="fixed" data-id="footer" "<%=swatch%>">
  <div data-role="navbar">
    <ul>
    <% active_button = nil; controller.footer_fields.each do |url| %>
	    <%
	      # we are assuming that the url has the form: /controller/action, 
	      #   if it gets more complex than this, 
	      #   perhaps we can use some elegant Ruby unRouting method with which we may work nav button magic
	      action = url.split('/').pop
	      if action === controller.action_name
	        klasses = "class=\"ui-disabled\"" # no point go to a page from itself
	      elsif ! active_button
	        active_button = action
	        klasses = "class=\"ui-btn-active\""   # mark first non-self button as active
	      else
	        klasses = ''
	      end
	      label = action.to_s.titleize
	    %>
	    <%= raw "<li><a #{klasses} data-role=\"button\" href=\"#{url}\">#{label}</a>" %>
    <% end %>
    </ul>
  </div>
</div>
<% end %>
