<footer data-role="footer" data-position="fixed" data-id="footer">
  <div data-role="navbar">
    <ul>
      <li>
        <a class="ui-btn-active" data-role="button" href="/static_pages/about">About</a>
      </li>
      <li>
        <a data-role="button" href="/static_pages/contact">Contact</a>
      </li>
      <li>
        <a data-role="button" href="/static_pages/privacy">People</a>
      </li>
      <li>
        <a data-role="button" href="/static_pages/help">Help</a>
      </li>
    </ul>
  </div>
</footer>
