<!-- do not use 'footer' element here, it confused jQuery Mobile -->
<% if ! controller.footer_fields.empty? %>
<!-- TBD:  see if we like ui-bar -->
<!-- TBD:  use different id's for different footers, then set ui-state-persist="true" p74 of Mastering  -->
<!-- NOTE: data-theme has to be applied to the footer, not the navbar, to take effect -->
<!-- NOTE: don't bother with navbar in dialogs:  it is distracting in that context -->
<% if @data_role == 'page' %>
	<div data-role="footer" data-position="fixed" data-id="<%=tagged_id('footer')%>" <%=swatch%> >
	  <div data-role="navbar">
	    <ul>
	    <% # active_button_set = false
         controller.footer_fields.each do |url| %>
		    <%
		      # we are assuming that the url has the form: /controller/action, 
		      #   if it gets more complex than this, 
		      #   perhaps we can use some elegant Ruby unRouting method with which we may work nav button magic
	
	        # logger.debug("_footer: url: #{url.inspect}, #{url.class}")
	
	        if url.class.to_s == 'String' 
		        url_bits = url.split('/')
	          # logger.debug("_footer: url_bits: #{url_bits.inspect}")
		        controller_name = url_bits.second
            if url_bits.size === 2
              action_name = nil
              label = controller_name.to_s.titleize
            else
              action_name = url_bits.pop
              label = action_name.to_s.titleize
            end
            href = url
	        else
            # note: if you use a symbol to define a hash element, apparently you have to use one to dereference as well.
            # note:  therefore, if possible, use symbols both to define & to dereference hashes
            action_name = url['action_name']
            controller_name = url['controller_name']
	          label = url['label']
            href = url['href'] || "/#{controller_name}/#{action_name}"
	        end

	        if action_name === controller.action_name && controller_name === controller.controller_name
	          klasses = "class=\"ui-disabled\"" # no point go to a page from itself
          # setting a button as active doesn't seem particularly helpful; is even a bit distracting
	        # elsif ! active_button_set
	          # active_button_set = true
	          # klasses = "class=\"ui-btn-active\""   # mark first non-self button as active
	        else
	          klasses = ''
	        end
	
	        data_theme = swatch( controller_name )
	        iconstr = iconify( action_name || controller_name )

	        # logger.debug("_footer: action_name: #{action_name}, label: #{label}, controller_name: #{controller_name}, href: #{href}, data_theme: #{data_theme}")

		    %>
	      <%= raw "<li><a #{klasses} data-role=\"button\" href=\"#{href}\" #{data_theme} >#{iconstr}&nbsp;&nbsp;#{label}</a></li>" %>
	    <% end %>
	    </ul>
	  </div>
	</div>
	<% end %>
<% end %>
