<!-- new header element for talkinvite:  get into logo/title/settings format -->
<!-- want to set width to mobile? or at least fluid:  currently seems to be fixed & also wider  -->
<header >
  <div class="container">
    <%= render 'layouts/header_logo' %>
    <%= render 'layouts/header_title' %>
    <%= render 'layouts/header_nav' %>
  </div>
</header>
