<!-- replace person_id & talk_id with name & name, then redo this -->
<% provide(:title, 'Materialized members') %>
<% if @members && @members.size > 0 %>
	<ul data-role="listview">
	    <% @members.each do |member| %>
        <li>
          <%= link_to member.rsvp_status, edit_member_path(member) %>
        </li>
	    <% end %>
	</ul>
<% else %>
<p>None of our talks have members! Boring, boring talks!</p>
<% end %>
<hr>
<%= button_inline 'New member', new_member_path %>
